# -- App -----------------------
PROJECT_TITLE=
LOG_LEVEL=
APP_VERSION=
# Environment: local, staging, production
ENVIRONMENT=local
DEBUG=False

# -- Postgres -------------------
POSTGRES_SERVER=postgres
POSTGRES_PORT=5433
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# -- Redis ----------------------
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_INDEX=1

# -- LLMs -----------------------
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=